*{
    margin: 0;
    padding: 0;
}
/* start navbar home section*/
.navbar {
    width: 100%;
    margin: auto;
    padding: 4px 0;
    background-color: rgba(22, 22, 23, 1);
}
.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 55px;
}
.navbar img {
    margin: 5px 85px;
    max-width: 40px;
    height: 30px;
}
.list {
    display: flex;
    align-items: center;
}
.list .dropdown {
    position: relative;
    margin-right: 20px;
}
.list .dropdown .item-page {
    color: #E8E8ED;
    text-decoration: none;
    padding: 10px 19px;
    position: relative;
    font: normal 16px "Roboto", sans-serif;
}
.list .dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 500px;
    padding: 15px 20px 15px 0;
    margin-top: 10px;
    transform: scale(0);
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}
.list .dropdown:hover .dropdown-menu {
    transform: scale(1);
}
.list .dropdown-menu .list-group {
    display: block;
    text-align: center;
}
.list .dropdown-menu .list-group a.kl {
    padding: 10px 19px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    display: block;
    line-height: 2;
}
.list .dropdown-menu .list-group a.kl:hover {
    background-color: #f0f0f0;
}
.list > div {
    margin-left: 20px;
}
.list > div a.item-page {
    color: #E8E8ED;
    padding: 10px 19px;
    text-decoration: none;
    font: normal 16px "Roboto", sans-serif;
    margin-right: 35px;
    position: relative; 
}
.list .item-page::before,
.list .item-page::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: #E8E8ED solid;
    transition: 0.2s;
}
.list .item-page::before {
    width: 95%;
    height: 95%;
    transform: scale(1, 0);
    border-radius: 5px;
}
.list .item-page:hover::before {
    transform: scale(1, 1);
}
.list .item-page::after {
    border-width: 2px 0;
    border-radius: 5px;
    width: 95%;
    height: 90%;
    transform: scale(0, 1);
    transform-origin: left;
}
.list .item-page:hover::after {
    transform: scale(1, 1);
    transition-delay: 0.2s;
}
.search-login {
    display: flex;
    align-items: center;
}
.search, .user {
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 20px;
}
.bag {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.add {
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 36px;
}
.bag span {
    margin-left: 5px;
    font: bold 25px "Roboto", sans-serif;
    color: #ffffff;
}
/* end navbar home section */


/* start ipad pro home section */
main {
    background-color: rgba(0, 0, 0, 255);
}
.Product-description .product-title {
    color: #fff;
    text-align: center;
    padding-top: 40px;
    font: bold 55px "Roboto", sans-serif;
}
.Product-description p {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font: 30px "Roboto", sans-serif;
}
.Product-description .learn-more-btn {
    color: #fff;
    background: rgb(32, 128, 224);
    cursor: pointer;
    padding: 11px 21px;
    margin-left: 690px;
    border: none;
    border-radius: 20px;
    font: bold 17px "Roboto", sans-serif;
    text-transform: capitalize;
}
.Product-description .learn-more-btn:hover {
    background: #3793ef;
}
.product-image-wrapper {
    margin-left: 260px;
}
/* end ipad pro home section */


/* start Special Category home section */
.header-title {
    text-align: center;
    padding-top: 50px;
    font: 27px "Roboto", sans-serif;
}
.header-title h2{
    color: black;
    font-size: 44px;
    font-weight: bold;
}
.header-title .title-line {
    background-color: gray;
    width: 100px;
    height: 4px;
    display: block;
    margin: 0 auto 70px auto;
    transition: width .5s;
    border-radius: 25px;
}
.header-title:hover .title-line {
    width: 150px;
}
.product-items {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 111px;
    font-family: "Roboto", sans-serif;
}
.product-arrow {
    color: rgba(22, 22, 23, 1);
    border: none;
    font-size: 27px;
    margin-left: 107px;
    opacity: 0;
    transition: 0.3s;
}
.product:hover .product-arrow {
    opacity: 1;
}
.product-name {
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.product-detail{
    font-size: 16px;
    color: #000;
}
.testimonial-section {
    display: flex;
    margin-top: 50px;
}
.testimonial-info {
    position: relative;
    color: #E8E8ED;
    background-color: #5a717f;
    width: 39%;
    height: 330px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 130px;
}
.testimonial-icon {
    color: #ebddd1;
    font-size: 45px;
}
.author-name {
    position: absolute;
    font: bold 20px;
}
.author-role {
    display: inline-block;
    margin-bottom: 40px;
}
.testimonial-text {
    word-spacing: 1px;
    line-height: 2;
}
.divider-line {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
.divider-line-info {
    width: 55px;
    margin-top: 20px;
    border: 0; 
    height: 3px; 
    background-color: #ffffff;
}
.product-images {
    position: relative;
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-item {
    width: 50%;
    text-align: center;
    position: relative;
}
.ipad-img,
.mac-img {
    transition: 1s;
}
.ipad-img:hover,
.mac-img:hover {
    transform: scale(1.2, 1.2);
}
.discount-text {
    position: absolute;
    margin: -46px 0 0 -45px;
    font: bold 20px "Roboto", sans-serif;
}
.discount-percent {
    color: red;
    font: bold 27px;
}
.buy-now-btn {
    position: absolute;
    color: #E8E8ED;
    background-color: #5a717f;
    cursor: pointer;
    margin: -20px 0 0 7px;
    padding: 5px 5px;
    font: bold 15px "Roboto", sans-serif;
    text-transform: capitalize;
    border: none;
    border-radius: 20px;
}
.service-icons {
    display: flex;
    margin: 55px 100px;
}
.service-item {
    border-right: 2px solid #5a717f;
    text-align: center;
    width: 20%;
}
.service-icon {
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.service-icon.one {
    background-position: center 5px;
    transition: 0.5s;
}
.service-item:hover .one {
    background-position: center -85px;
}
.service-icon.two {
    background-position: center -180px;
    transition: 0.5s;
}
.service-item:hover .two {
    background-position: center -270px;
}
.service-icon.three {
    background-position: center -360px;
    transition: 0.5s;
}
.service-item:hover .three {
    background-position: center -450px;
}
.service-icon.four {
    background-position: center -540px;
    transition: 0.5s;
}
.service-item:hover .four {
    background-position: center -635px;
}
.service-icon.five {
    background-position: center -725px;
    transition: 0.5s;
}
.service-item:hover .five {
    background-position: center -825px;
}
.last-item {
    border: 0;
}
.service-info h2 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: -5px;

}
.service-info span {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: black;
}
.section-divider {
    margin-bottom: 20px;
    width: 85%;
    margin-left: 120px;
    border: 0; 
    height: 2px; 
    background-color: #5a717f; 
}
/* end Special Category home section */


/* start Featured Products home section  */
.product-categories {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}
.product-categories span {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}
.product-item {
    width: 340px;
    height: 390px;
    position: relative;
    perspective: 1000px;
    margin: 30px 0px;
}
.product-view {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.product-view:hover {
    transform: rotateY(180deg);
}
.front-view, .back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front-view {
    z-index: 1;
}
.back-view {
    transform: rotateY(180deg);
}
/* Social icons */
.social-icon {
    display: block;
    font-size: 40px;
    margin: 10px;
}
/* Product images */
.front-iph-15 {
    background: url(../images/front-iPho-15.jpg);
    background-size: cover;
}
.back-iph-15 {
    background: url(../images/back-iPho-15.jpg);
    background-size: cover;
}
.front-iph-15-pro {
    background: url(../images/front-iPho-15-pro.jpg);
    background-size: cover;
}
.back-iph-15-pro {
    background: url(../images/back-iPho-15-pro.jpeg);
    background-size: cover;
}
.front-iph-15-pro-max {
    background: url(../images/front-iPho-15-pro-max.jpg);
    background-size: cover;
}
.back-iph-15-pro-max {
    background: url(../images/back-iPho-15-pro-max.jpeg);
    background-size: cover;
}
.front-mac {
    background: url(../images/front-mac.jpeg);
    background-size: cover;
}
.back-mac {
    background: url(../images/back-mac.jpeg);
    background-size: cover;
}
.front-ipad {
    background: url(../images/front-ipad.jpg);
    background-size: cover;
}
.back-ipad {
    background: url(../images/back-ipad.png);
    background-size: cover;
}
.front-watch {
    background: url(../images/front-watch.png);
    background-size: cover;
}
.back-watch {
    background: url(../images/back-watch.png);
    background-size: cover;
}
/* Product name and price */
.product-name {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.product-price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    color: #000;
}
/* Rating stars */
.rating-star {
    color: #acacb0;
    margin: 5px 0;
}
.star {
    font-size: 18px;
}
/* end Featured Products home section  */